<div style="text-align: center">
     <img [src]=click?imgOff:imgOn style="display: block; margin: 0 auto; height: 300px">
     <button [style.background-color]="click?'':'yellow'" (click)="onClick()">Toggle Light Bulb</button>
<!--  <hr>-->
<!--  <input [(ngModel)]="text"  type="text">-->
<!--  <h3>Result : <span [style.color]="text=='red'||'Red'?'red':''">{{text | uppercase}}</span></h3>-->
  <hr>
  <input [(ngModel)]="text"  type="text">
  <h3>Result : <span [style.color]="text">{{text | uppercase}}</span></h3>
</div>
